<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Phonemic Features: Shakespeare </title>
    <style>
    .axis text {
      font: 10px sans-serif;
    }
    .axis line,
    .axis path {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .path-line {
      fill: none;
      stroke: yellow;
      stroke-width: 1.5px;
    }
    svg {
      background: #f0f0f0;
    }
    </style>
  </head>
  <body>
    <div>
      <select id="Play1", onchange="onSelectOne()">
        <option value="">Play</option>
        <option value="AWW">All's Well That Ends Well</option>
        <option value="Ant">Antony and Cleopatra</option>
        <option value="AYL">As You Like It</option>
        <option value="Err">The Comedy of Errors</option>
        <option value="Cor">Coriolanus</option>
        <option value="Cym">Cymbeline</option>
        <option value="Ham">Hamlet</option>
        <option value="1H4">Henry IV, Part 1</option>
        <option value="2H4">Henry IV, Part 2</option>
        <option value="H5">Henry V</option>
        <option value="1H6">Henry VI, Part 1</option>
        <option value="2H6">Henry VI, Part 2</option>
        <option value="3H6">Henry VI, Part 3</option>
        <option value="H8">Henry VIII</option>
        <option value="JC">Julius Caesar</option>
        <option value="Jn">King John</option>
        <option value="Lr">King Lear</option>
        <option value="LLL">Love's Labor's Lost</option>
        <option value="Mac">Macbeth</option>
        <option value="MM">Measure for Measure</option>
        <option value="MV">The Merchant of Venice</option>
        <option value="Wiv">The Merry Wives of Windsor</option>
        <option value="MND">A Midsummer Night's Dream</option>
        <option value="Ado">Much Ado About Nothing</option>
        <option value="Oth">Othello</option>
        <option value="Per">Pericles</option>
        <option value="R2">Richard II</option>
        <option value="R3">Richard III</option>
        <option value="Rom">Romeo and Juliet</option>
        <option value="Shr">The Taming of the Shrew</option>
        <option value="Tmp">The Tempest</option>
        <option value="Tim">Timon of Athens</option>
        <option value="Tit">Titus Andronicus</option>
        <option value="Tro">Troilus and Cressida</option>
        <option value="TN">Twelfth Night</option>
        <option value="TGV">The Two Gentlemen of Verona</option>
        <option value="TNK">The Two Noble Kinsmen</option>
        <option value="WT">The Winter's Tale</option>
      </select>

      <select id="Character1">
        <option value = "">Character</option>
      </select>

    </div>
    <div>
      <select id="Play2", onchange="onSelectTwo()">
        <option value="">Play</option>
        <option value="AWW">All's Well That Ends Well</option>
        <option value="Ant">Antony and Cleopatra</option>
        <option value="AYL">As You Like It</option>
        <option value="Err">The Comedy of Errors</option>
        <option value="Cor">Coriolanus</option>
        <option value="Cym">Cymbeline</option>
        <option value="Ham">Hamlet</option>
        <option value="1H4">Henry IV, Part 1</option>
        <option value="2H4">Henry IV, Part 2</option>
        <option value="H5">Henry V</option>
        <option value="1H6">Henry VI, Part 1</option>
        <option value="2H6">Henry VI, Part 2</option>
        <option value="3H6">Henry VI, Part 3</option>
        <option value="H8">Henry VIII</option>
        <option value="JC">Julius Caesar</option>
        <option value="Jn">King John</option>
        <option value="Lr">King Lear</option>
        <option value="LLL">Love's Labor's Lost</option>
        <option value="Mac">Macbeth</option>
        <option value="MM">Measure for Measure</option>
        <option value="MV">The Merchant of Venice</option>
        <option value="Wiv">The Merry Wives of Windsor</option>
        <option value="MND">A Midsummer Night's Dream</option>
        <option value="Ado">Much Ado About Nothing</option>
        <option value="Oth">Othello</option>
        <option value="Per">Pericles</option>
        <option value="R2">Richard II</option>
        <option value="R3">Richard III</option>
        <option value="Rom">Romeo and Juliet</option>
        <option value="Shr">The Taming of the Shrew</option>
        <option value="Tmp">The Tempest</option>
        <option value="Tim">Timon of Athens</option>
        <option value="Tit">Titus Andronicus</option>
        <option value="Tro">Troilus and Cressida</option>
        <option value="TN">Twelfth Night</option>
        <option value="TGV">The Two Gentlemen of Verona</option>
        <option value="TNK">The Two Noble Kinsmen</option>
        <option value="WT">The Winter's Tale</option>
      </select>

      <select id="Character2">
        <option value="">Character</option>
      </select>
    </div>
    <div>
      <select id="Play3", onchange="onSelectThree()">
        <option value="">Play</option>
        <option value="AWW">All's Well That Ends Well</option>
        <option value="Ant">Antony and Cleopatra</option>
        <option value="AYL">As You Like It</option>
        <option value="Err">The Comedy of Errors</option>
        <option value="Cor">Coriolanus</option>
        <option value="Cym">Cymbeline</option>
        <option value="Ham">Hamlet</option>
        <option value="1H4">Henry IV, Part 1</option>
        <option value="2H4">Henry IV, Part 2</option>
        <option value="H5">Henry V</option>
        <option value="1H6">Henry VI, Part 1</option>
        <option value="2H6">Henry VI, Part 2</option>
        <option value="3H6">Henry VI, Part 3</option>
        <option value="H8">Henry VIII</option>
        <option value="JC">Julius Caesar</option>
        <option value="Jn">King John</option>
        <option value="Lr">King Lear</option>
        <option value="LLL">Love's Labor's Lost</option>
        <option value="Mac">Macbeth</option>
        <option value="MM">Measure for Measure</option>
        <option value="MV">The Merchant of Venice</option>
        <option value="Wiv">The Merry Wives of Windsor</option>
        <option value="MND">A Midsummer Night's Dream</option>
        <option value="Ado">Much Ado About Nothing</option>
        <option value="Oth">Othello</option>
        <option value="Per">Pericles</option>
        <option value="R2">Richard II</option>
        <option value="R3">Richard III</option>
        <option value="Rom">Romeo and Juliet</option>
        <option value="Shr">The Taming of the Shrew</option>
        <option value="Tmp">The Tempest</option>
        <option value="Tim">Timon of Athens</option>
        <option value="Tit">Titus Andronicus</option>
        <option value="Tro">Troilus and Cressida</option>
        <option value="TN">Twelfth Night</option>
        <option value="TGV">The Two Gentlemen of Verona</option>
        <option value="TNK">The Two Noble Kinsmen</option>
        <option value="WT">The Winter's Tale</option>
      </select>
      <select id="Character3">
        <option value="">Character</option>
      </select>
    </div>

    <div>
      <button onclick="onClick()">Go</button>
    </div>

    <div id='stacked-bar'></div>
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script>
    var initStackedBarChart = {
    	draw: function(config) {
    		me = this,
    		domEle = config.element,
    		stackKey = config.key,
    		data = config.data,
    		margin = {top: 20, right: 20, bottom: 30, left: 50},
    		parseChar = data.character,
    		width = 960 - margin.left - margin.right,
    		height = 500 - margin.top - margin.bottom,
    		xScale = d3.scaleLinear().rangeRound([0, width]),
    		yScale = d3.scaleBand().rangeRound([height, 0]).padding(0.1),
    		color = d3.scaleOrdinal(d3.schemeCategory20),
    		xAxis = d3.axisBottom(xScale),
    		yAxis =  d3.axisLeft(yScale).tickFormat(d3.timeFormat("%b")),
    		svg = d3.select("#"+domEle).append("svg")
    				.attr("width", width + margin.left + margin.right)
    				.attr("height", height + margin.top + margin.bottom)
    				.append("g")
    				.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    		var stack = d3.stack()
    			.keys(stackKey)
    			/*.order(d3.stackOrder)*/
    			.offset(d3.stackOffsetNone);

    		var layers= stack(data);
    			data.sort(function(a, b) { return b.total - a.total; });
    			yScale.domain(data.map(function(d) { return d.character; }));
    			xScale.domain([0, d3.max(layers[layers.length - 1], function(d) { return d[0] + d[1]; }) ]).nice();

    		var layer = svg.selectAll(".layer")
    			.data(layers)
    			.enter().append("g")
    			.attr("class", "layer")
    			.style("fill", function(d, i) { return color(i); });

    		  layer.selectAll("rect")
    			  .data(function(d) { return d; })
    			.enter().append("rect")
    			  .attr("y", function(d) { return yScale(d.data.character); })
    			  .attr("x", function(d) { return xScale(d[0]); })
    			  .attr("height", yScale.bandwidth())
    			  .attr("width", function(d) { return xScale(d[1]) - xScale(d[0]) });



          layer.select("text")
            .data(layers)
             .enter()
             .append("text")
             .text(function(d) {return d.key; })
             .attr("y", function(d, k) {
                 return 15*(k+1) + yScale(d[0].data.character);
             })
     		 	   .attr("x", function(d) {
                  return xScale(d[0][0]);
              })

          layer.selectAll("text")
            .data(function(d) { return d; })
             .enter()
             .append("text")
             .text(function(d) {return d.data.character; })
             .attr("y", function(d) { return yScale(d.data.character); })
             .attr("x", function(d) { return 0; })

    			svg.append("g")
    			.attr("class", "axis axis--x")
    			.attr("transform", "translate(0," + (height+5) + ")")
    			.call(xAxis);

    			svg.append("g")
    			.attr("class", "axis axis--y")
    			.attr("transform", "translate(0,0)")
    			.call(yAxis);
    	}
    }
    function onClick() {

      d3.selectAll('svg').remove();

      var dataURL = '/data/' + document.getElementById('Character1').value+ "+" + document.getElementById('Character2').value + "+" + document.getElementById('Character3').value
      d3.json(dataURL, function(error, dataObj) {
        dataObj = dataObj;
        var data;
        var key;

        for (var i = 0; i < 3; i++) {
          if (i == 0) {
            key = ['stop', 'affricate', 'fricative', 'liquid', 'glide', 'nasal'];
            data = dataObj['manner'];
          } else if (i == 1) {
            key = ['bilabial', 'linguaalveolar', 'linguadental', 'labiodental', 'linguavelar', 'glottal', 'linguapalatal'];
            data = dataObj['placement'];
          } else {
            key = ['voiced', 'voiceless'];
            data = dataObj['voice']
          }

          initStackedBarChart.draw({
            data: data,
            key: key,
            element: 'stacked-bar'
          });
        }
      });
    }
    function onSelectOne() {
      d3.select('#Character1')
        .selectAll('option')
        .remove();

      var play = document.getElementById('Play1').value
      var dataURL = '/options/' + play
      d3.json(dataURL, function(error, data) {
        var data = data;
        d3.select('#Character1')
          .selectAll('option')
          .data(data)
          .enter()
          .append('option')
          .text(function(d) { return d; })
          .property('value', function(d) {
            return play + "_" + d;
          })
      });
    }

    function onSelectTwo() {
      d3.select('#Character2')
        .selectAll('option')
        .remove();


      var play = document.getElementById('Play2').value
      var dataURL = '/options/' + play
      d3.json(dataURL, function(error, data) {
        var data = data;
        d3.select('#Character2')
          .selectAll('option')
          .data(data)
          .enter()
          .append('option')
          .text(function(d) { return d; })
          .property('value', function(d) {
            return play + "_" + d;
          })
      });
    }

    function onSelectThree() {
      d3.select('#Character3')
        .selectAll('option')
        .remove();

      var play = document.getElementById('Play3').value
      var dataURL = '/options/' + play
      d3.json(dataURL, function(error, data) {
        var data = data;
        d3.select('#Character3')
          .selectAll('option')
          .data(data)
          .enter()
          .append('option')
          .text(function(d) { return d; })
          .property('value', function(d) {
            return play + "_" + d;
          })
      });
    }
    </script>
  </body>
</html>
