<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Plotting Z-Scores</title>
    <meta name="description" content="">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style type="text/css">
    body {
        font: 10px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    /*.x.axis path {
        display: none;
    }*/
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    </style>
</head>

<body>
  <div>
    Sort by
    <form id="sort", onchange = "sortOrder()"> <br>
      <input type="radio" name="role" value="protag" checked> Protagonist<br>
      <input type="radio" name="role" value="antag"> Antagonist<br>
      <input type="radio" name="role" value="fool"> Fool
    </form>
  </div>
  <div>
    Show
    <form id = "show", onchange = "drawUndraw()">  <br>
      <input type = "checkbox" value = "protag" checked> Protagonist<br>
      <input type = "checkbox" value = "antag" checked> Antagonist<br>
      <input type = "checkbox" value = "fool" checked> Fool
    </form>
  </div>
  <div>
    Compare<br>
    <select id="Play", onchange="onSelect()">
      <option value="">Play</option>
      <option value="AWW">All's Well That Ends Well</option>
      <option value="Ant">Antony and Cleopatra</option>
      <option value="AYL">As You Like It</option>
      <option value="Err">The Comedy of Errors</option>
      <option value="Cor">Coriolanus</option>
      <option value="Cym">Cymbeline</option>
      <option value="Ham">Hamlet</option>
      <option value="1H4">Henry IV, Part 1</option>
      <option value="2H4">Henry IV, Part 2</option>
      <option value="H5">Henry V</option>
      <option value="1H6">Henry VI, Part 1</option>
      <option value="2H6">Henry VI, Part 2</option>
      <option value="3H6">Henry VI, Part 3</option>
      <option value="H8">Henry VIII</option>
      <option value="JC">Julius Caesar</option>
      <option value="Jn">King John</option>
      <option value="Lr">King Lear</option>
      <option value="LLL">Love's Labor's Lost</option>
      <option value="Mac">Macbeth</option>
      <option value="MM">Measure for Measure</option>
      <option value="MV">The Merchant of Venice</option>
      <option value="Wiv">The Merry Wives of Windsor</option>
      <option value="MND">A Midsummer Night's Dream</option>
      <option value="Ado">Much Ado About Nothing</option>
      <option value="Oth">Othello</option>
      <option value="Per">Pericles</option>
      <option value="R2">Richard II</option>
      <option value="R3">Richard III</option>
      <option value="Rom">Romeo and Juliet</option>
      <option value="Shr">The Taming of the Shrew</option>
      <option value="Tmp">The Tempest</option>
      <option value="Tim">Timon of Athens</option>
      <option value="Tit">Titus Andronicus</option>
      <option value="Tro">Troilus and Cressida</option>
      <option value="TN">Twelfth Night</option>
      <option value="TGV">The Two Gentlemen of Verona</option>
      <option value="TNK">The Two Noble Kinsmen</option>
      <option value="WT">The Winter's Tale</option>
    </select>

    <select id="Character">
      <option value = "">Character</option>
    </select>

  </div>
</body>

  <script type = "text/javascript">
    function onSelect() {
      d3.select('#Character')
        .selectAll('option')
        .remove();

      var play = document.getElementById('Play').value
      var dataURL = '/options/' + play
      d3.json(dataURL, function(error, data) {
        var data = data;
        d3.select('#Character')
          .selectAll('option')
          .data(data)
          .enter()
          .append('option')
          .text(function(d) { return d; })
          .property('value', function(d) {
            return play + "_" + d;
          })
      });
    }

    var svgWidth = 400;
    var svgHeight = 3200;
    var buffer = 10;

    var svg = d3.select("body").append("svg")
                .attr('width', svgWidth)
                .attr('height', svgHeight)


    var pivotLine = d3.select('svg')
                      .append('line')
                      .attr('x1', svgWidth / 2)
                      .attr('x2', svgWidth / 2)
                      .attr('y1', svgHeight - buffer)
                      .attr('y2', buffer)
                      .style('stroke', 'black')

    var features = ['fricative', 'affricate', 'glide', 'nasal', 'liquid',
            'stop', 'glottal', 'linguaalveolar', 'linguapalatal', 'labiodental',
            'bilabial', 'linguavelar','linguadental', 'voiced', 'voiceless',
            'sibilant', 'nonsibilant', 'sonorant', 'nonsonorant', 'coronal',
            'noncoronal', 'monophthong', 'diphthong', 'central', 'front', 'back',
            'tense', 'lax', 'rounded', 'unrounded']

    var segment = (svgHeight - 2*buffer) / (features.length)

    var featureBox = d3.select('svg')
                        .selectAll('rect')
                        .data(features)
                        .enter()
                        .append('rect')
                        .attr('y', function(d, i) { return buffer + (segment * i)/*TODO determine how this should scale*/ ; })
                        .attr('x', function(d, i) { return 0 /*TODO determine if/how this should scale*/; })
                        .attr('width', svgWidth)
                        .attr('height', segment)
                        .text(function(d) { return d; })
                        .style('fill', 'white')

    var topLine = d3.select('svg')
                        .selectAll('line')
                        .data(features)
                        .enter()
                        .append('line')
                        .attr('x1', 0)
                        .attr('x2', svgWidth)
                        .attr('y1', function(d, i) { return buffer + (segment * i); })
                        .attr('y2', function(d, i) { return buffer + (segment * i); })
                        .style('stroke', 'black');

      var pivotLine = d3.select('svg')
                        .append('line')
                        .attr('x1', svgWidth / 2)
                        .attr('x2', svgWidth / 2)
                        .attr('y1', svgHeight - buffer)
                        .attr('y2', buffer)
                        .style('stroke', 'black')

  </script>

</html>
