<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Plotting Z-Scores</title>
    <meta name="description" content="">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style type="text/css">
    body {
        font: 10px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    /*.x.axis path {
        display: none;
    }*/
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    </style>
</head>

<body>
  <div style = 'width:100%;'>
    <div style = 'width:50%; float: left;'>
        Sort features by
        <form id="fsort", onchange = "sortOrder()"> <br>
          <input id = 'f_psort' type="radio" name="role" value="protag" checked> Protagonist<br>
          <input id = 'f_asort' type="radio" name="role" value="antag"> Antagonist<br>
          <input id = 'f_fsort' type="radio" name="role" value="fool"> Fool
        </form>
      </div>
      <div style = 'margin-left:50%;'>
          Sort phonemes by
          <form id="psort", onchange = "sortOrder()"> <br>
            <input id = 'p_psort' name="role" type="radio"  value="protag" checked> Protagonist<br>
            <input id = 'p_asort' name="role" type="radio"  value="antag"> Antagonist<br>
            <input id = 'p_fsort' name="role" type="radio"  value="fool"> Fool
          </form>
      </div>
    </div>
    <div style = 'width:100%;'>
      <div style = 'width:50%; float:left;'>
        Show features for
        <form id = "fshow", onchange = "onLoad()">  <br>
          <input type = "checkbox" value = "protag" checked> Protagonist<br>
          <input type = "checkbox" value = "antag" checked> Antagonist<br>
          <input type = "checkbox" value = "fool" checked> Fool
        </form>
      </div>
      <div style = 'margin-left:50%;'>
        Show phonemes for
        <form id = "pshow", onchange = "onLoad()">  <br>
          <input type = "checkbox" value = "protag" checked> Protagonist<br>
          <input type = "checkbox" value = "antag" checked> Antagonist<br>
          <input type = "checkbox" value = "fool" checked> Fool
        </form>
      </div>
    </div>
    <div style = 'width:100%;'>
      <div style = 'width:50%; float: left;'>
      Compare features<br>
      <select id="fPlay", onchange="onfSelect()">
        <option value="default">Play</option>
        <option value="AWW">All's Well That Ends Well</option>
        <option value="Ant">Antony and Cleopatra</option>
        <option value="AYL">As You Like It</option>
        <option value="Err">The Comedy of Errors</option>
        <option value="Cor">Coriolanus</option>
        <option value="Cym">Cymbeline</option>
        <option value="Ham">Hamlet</option>
        <option value="1H4">Henry IV, Part 1</option>
        <option value="2H4">Henry IV, Part 2</option>
        <option value="H5">Henry V</option>
        <option value="1H6">Henry VI, Part 1</option>
        <option value="2H6">Henry VI, Part 2</option>
        <option value="3H6">Henry VI, Part 3</option>
        <option value="H8">Henry VIII</option>
        <option value="JC">Julius Caesar</option>
        <option value="Jn">King John</option>
        <option value="Lr">King Lear</option>
        <option value="LLL">Love's Labor's Lost</option>
        <option value="Mac">Macbeth</option>
        <option value="MM">Measure for Measure</option>
        <option value="MV">The Merchant of Venice</option>
        <option value="Wiv">The Merry Wives of Windsor</option>
        <option value="MND">A Midsummer Night's Dream</option>
        <option value="Ado">Much Ado About Nothing</option>
        <option value="Oth">Othello</option>
        <option value="Per">Pericles</option>
        <option value="R2">Richard II</option>
        <option value="R3">Richard III</option>
        <option value="Rom">Romeo and Juliet</option>
        <option value="Shr">The Taming of the Shrew</option>
        <option value="Tmp">The Tempest</option>
        <option value="Tim">Timon of Athens</option>
        <option value="Tit">Titus Andronicus</option>
        <option value="Tro">Troilus and Cressida</option>
        <option value="TN">Twelfth Night</option>
        <option value="TGV">The Two Gentlemen of Verona</option>
        <option value="TNK">The Two Noble Kinsmen</option>
        <option value="WT">The Winter's Tale</option>
      </select>

      <select id="fCharacter", onchange ="compare()">
        <option value = "default">Character</option>
      </select>

    </div>
    <div style = 'margin-left:50%;'>
    Compare phonemes<br>
    <select id="pPlay", onchange="onpSelect()">
      <option value="default">Play</option>
      <option value="AWW">All's Well That Ends Well</option>
      <option value="Ant">Antony and Cleopatra</option>
      <option value="AYL">As You Like It</option>
      <option value="Err">The Comedy of Errors</option>
      <option value="Cor">Coriolanus</option>
      <option value="Cym">Cymbeline</option>
      <option value="Ham">Hamlet</option>
      <option value="1H4">Henry IV, Part 1</option>
      <option value="2H4">Henry IV, Part 2</option>
      <option value="H5">Henry V</option>
      <option value="1H6">Henry VI, Part 1</option>
      <option value="2H6">Henry VI, Part 2</option>
      <option value="3H6">Henry VI, Part 3</option>
      <option value="H8">Henry VIII</option>
      <option value="JC">Julius Caesar</option>
      <option value="Jn">King John</option>
      <option value="Lr">King Lear</option>
      <option value="LLL">Love's Labor's Lost</option>
      <option value="Mac">Macbeth</option>
      <option value="MM">Measure for Measure</option>
      <option value="MV">The Merchant of Venice</option>
      <option value="Wiv">The Merry Wives of Windsor</option>
      <option value="MND">A Midsummer Night's Dream</option>
      <option value="Ado">Much Ado About Nothing</option>
      <option value="Oth">Othello</option>
      <option value="Per">Pericles</option>
      <option value="R2">Richard II</option>
      <option value="R3">Richard III</option>
      <option value="Rom">Romeo and Juliet</option>
      <option value="Shr">The Taming of the Shrew</option>
      <option value="Tmp">The Tempest</option>
      <option value="Tim">Timon of Athens</option>
      <option value="Tit">Titus Andronicus</option>
      <option value="Tro">Troilus and Cressida</option>
      <option value="TN">Twelfth Night</option>
      <option value="TGV">The Two Gentlemen of Verona</option>
      <option value="TNK">The Two Noble Kinsmen</option>
      <option value="WT">The Winter's Tale</option>
    </select>

    <select id="pCharacter", onchange ="compare()">
      <option value = "default">Character</option>
    </select>

  </div>
  </div>
</body>

  <script type = "text/javascript">
    function onfSelect() {

        d3.select('#fCharacter')
          .selectAll('option')
          .remove();

        var fPlay = document.getElementById('fPlay').value
        var dataURL = '/options/' + fPlay
        d3.json(dataURL, function(error, data) {
          var data = data;
          if (data[0] != 'Character') {
            d3.select('#fCharacter')
              .selectAll('option')
              .data(data)
              .enter()
              .append('option')
              .text(function(d) { return d; })
              .property('value', function(d) {
                return fChar = fPlay + "_" + d;
              })
          }
          else {
            d3.select('#fCharacter')
              .append('option')
              .text('Character')
              .property('value', 'reset')
          }
        });
      }

    function onpSelect() {
        d3.select('#pCharacter')
          .selectAll('option')
          .remove();

        var pPlay = document.getElementById('pPlay').value
        var dataURL = '/options/' + pPlay
        d3.json(dataURL, function(error, data) {
          var data = data;
          if (data[0] != 'Character') {
            d3.select('#pCharacter')
              .selectAll('option')
              .data(data)
              .enter()
              .append('option')
              .text(function(d) { return d; })
              .property('value', function(d) {
                return pChar = pPlay + "_" + d;
              })
          }
          else {
            d3.select('#pCharacter')
              .append('option')
              .text('Character')
              .property('value', 'reset')
        }
      });
      loadData();
    }


    var svgHeight = 3200;
    var buffer = 10;

    var svg = d3.select("body").append("svg")
                .attr('width', '100%')
                .attr('height', svgHeight)

    var featDiv = svg.append('g')
                .property('id', 'feats')


    var features = ['fricative', 'affricate', 'glide', 'nasal', 'liquid',
            'stop', 'glottal', 'linguaalveolar', 'linguapalatal', 'labiodental',
            'bilabial', 'linguavelar','linguadental', 'voiced', 'voiceless',
            'sibilant', 'nonsibilant', 'sonorant', 'nonsonorant', 'coronal',
            'noncoronal', 'monophthong', 'diphthong', 'central', 'front', 'back',
            'tense', 'lax', 'rounded', 'unrounded']

    var fSegment = (svgHeight - 2*buffer) / (features.length)


    var fTopLine = d3.select('svg')
                        .select('#feats')
                        .selectAll('line')
                        .data(features)
                        .enter()
                        .append('line')
                        .attr('x1', '0%')
                        .attr('x2', '50%')
                        .attr('y1', function(d, i) { return buffer + (fSegment * i); })
                        .attr('y2', function(d, i) { return buffer + (fSegment * i); })
                        .style('stroke', 'black');

    var fPivotLine = d3.select('svg')
                        .select('#feats')
                        .append('line')
                        .attr('x1', '25%')
                        .attr('x2', '25%')
                        .attr('y1', svgHeight - buffer)
                        .attr('y2', buffer)
                        .style('stroke', 'black')

    var phonDiv = svg.append('g')
                .property('id', 'phons')

    var phonemes = ['AA','AE','AH','AO','AW','AY','B','CH','D','DH','EH','ER','EY',
        'F','G','HH','IH','IY','JH','K','L','M','N','NG','OW','OY','P','R','S','SH','T','TH',
        'UH','UW','V','W','Y','Z','ZH']

    var pSegment = (svgHeight - 2*buffer) / (phonemes.length)

    var pPivotLine = d3.select('svg')
                      .select('#phons')
                      .append('line')
                      .attr('x1', '75%')
                      .attr('x2', '75%')
                      .attr('y1', svgHeight - buffer)
                      .attr('y2', buffer)
                      .style('stroke', 'black')

    var pTopLine = d3.select('svg')
                        .select('#phons')
                        .selectAll('line')
                        .data(phonemes)
                        .enter()
                        .append('line')
                        .attr('x1', '51%')
                        .attr('x2', '100%')
                        .attr('y1', function(d, i) { return buffer + (pSegment * i); })
                        .attr('y2', function(d, i) { return buffer + (pSegment * i); })
                        .style('stroke', 'black');


    function onLoad() {

      svg.select('#feats').selectAll('g').remove()
      svg.select('#feats').selectAll('text').remove()

      svg.select('#phons').selectAll('g').remove()
      svg.select('#phons').selectAll('text').remove()

      var featureGroup = svg.select('#feats')
                          .selectAll('g')
                          .data(features)
                          .enter()
                          .append('g')
                          .property('id', function(d) {return d; })


      var fBoxLabel = svg.select('#feats')
                          .selectAll('text')
                          .data(features)
                          .enter()
                          .append('text')
                          .text(function(d) { return d; })
                          .attr('y', function(d, i) { return buffer + (fSegment * i) + 10; })
                          .attr('x', '1%');

      var phonemeGroup = svg.select('#phons')
                          .selectAll('g')
                          .data(phonemes)
                          .enter()
                          .append('g')
                          .property('id', function(d) {return d; })


      var pBoxLabel = svg.select('#phons')
                          .selectAll('text')
                          .data(phonemes)
                          .enter()
                          .append('text')
                          .text(function(d) { return d; })
                          .attr('y', function(d, i) { return buffer + (pSegment * i) + 10; })
                          .attr('x', '51%');

      loadData();
    }

    function loadData() {

      var dataURL = '/data'
      d3.json(dataURL, function(error, data){
        var fdata = data['features']
        var pdata = data['phonemes']

        for (var i = 0; i < features.length; i++) {
          var feat_bars =   d3.select('#'+features[i])
                          .selectAll('rect')
                          .data(obj = fdata[features[i]])
                          .enter()
                          .append('rect')
                          .property('id', function(d, j) {
                            if (j == 0) {
                              return features[i] + '_prot';
                            } else if (j == 1) {
                              return features[i] + '_ant';
                            } else {
                              return features[i] + '_fool';
                            }
                          })
                          .attr('x', function (d) {
                              if (d > 0) {
                                return pos = '25%';
                              } else {
                                norm = 1+d;
                                pos = 25 * (norm);
                                return pos.toString()+'%'
                              }
                            })
                          .attr('y', function(d, j) { return i * fSegment + j * fSegment / 3 + buffer * 1.25; })
                          .attr('width', function(d) {
                            pos = Math.abs(d * 25)
                            return pos.toString()+'%';
                          })
                          .attr('height', fSegment / 3 - buffer / 2)
                          .attr('class', function (d, j) {
                            if (j == 0) {
                              return 'fprot';
                            } else if (j == 1) {
                              return 'fant';
                            } else {
                              return 'ffool';
                            }
                          })
                          .style('fill', function(d, j) {
                            if (j == 0) {
                              return '#E68BFF';
                            } else if (j == 1) {
                              return '#3ECC97';
                            } else {
                              return '#FFDB83';
                            }
                          })
        }
        vals = document.getElementById('fshow').elements
        if (!vals[0].checked){
          d3.selectAll('.fprot').remove()
        } if (!vals[1].checked){
          d3.selectAll('.fant').remove()
        } if (!vals[2].checked){
          d3.selectAll('.ffool').remove()
        }

        for (var i = 0; i < phonemes.length; i++) {
          var phon_bars =   d3.select('#'+phonemes[i])
                          .selectAll('rect')
                          .data(obj = pdata[phonemes[i]])
                          .enter()
                          .append('rect')
                          .property('id', function(d, j) {
                            if (j == 0) {
                              return phonemes[i] + '_prot';
                            } else if (j == 1) {
                              return phonemes[i] + '_ant';
                            } else {
                              return phonemes[i] + '_fool';
                            }
                          })
                          .attr('x', function (d) {
                              if (d > 0) {
                                return pos = '75%';
                              } else {
                                norm = 1+d;
                                pos = 25 * (norm) + 50;
                                return pos.toString()+'%'
                              }
                            })
                          .attr('y', function(d, j) { return i * pSegment + j * pSegment / 3 + buffer * 1.25; })
                          .attr('width', function(d) {
                            pos = Math.abs(d * 25)
                            return pos.toString()+'%';
                          })
                          .attr('height', pSegment / 3 - buffer / 2)
                          .attr('class', function (d, j) {
                            if (j == 0) {
                              return 'pprot';
                            } else if (j == 1) {
                              return 'pant';
                            } else {
                              return 'pfool';
                            }
                          })
                          .style('fill', function(d, j) {
                            if (j == 0) {
                              return '#E68BFF';
                            } else if (j == 1) {
                              return '#3ECC97';
                            } else {
                              return '#FFDB83';
                            }
                          })
        }
        pvals = document.getElementById('pshow').elements
        if (!pvals[0].checked){
          d3.selectAll('.pprot').remove()
        } if (!pvals[1].checked){
          d3.selectAll('.pant').remove()
        } if (!pvals[2].checked){
          d3.selectAll('.pfool').remove()
        }
        compare();
      })
    }

    onLoad();

    function compare() {

      if (document.getElementById('fCharacter').value != 'default') {

        var dataURL = '/compare/'+document.getElementById('fCharacter').value
        d3.json(dataURL, function(error, data){

          if (data.length != 0) {
              var feat_data = data['features']
          }

          for (var i = 0; i < features.length; i++) {
            d3.select('#'+features[i]).selectAll('line').remove();

            if (feat_data.length != 0){
              var feat_line = d3.select('#'+features[i])
                            .append('line')
                            .property('id', document.getElementById('fCharacter'.value))
                            .attr('x1', function() {
                              pos = 25 * (1 + feat_data[features[i]])
                              return pos.toString()+'%'
                            })
                            .attr('x2', function() {
                              pos = 25 * (1 + feat_data[features[i]])
                              return pos.toString()+'%'
                            })
                            .attr('y1',  buffer + (fSegment * i))
                            .attr('y2', buffer + (fSegment * (i + 1)))
                            .style('stroke', 'black')
          }
        }
      })
    }

    if (document.getElementById('pCharacter').value != 'default') {

      var dataURL = '/compare/'+document.getElementById('pCharacter').value
      d3.json(dataURL, function(error, data){

        if (data.length != 0) {
            var phon_data = data['phonemes']
        }

        for (var i = 0; i < phonemes.length; i++) {
          d3.select('#'+phonemes[i]).selectAll('line').remove();

          if (data.length != 0){
            var feat_line = d3.select('#'+phonemes[i])
                          .append('line')
                          .property('id', document.getElementById('pCharacter'.value))
                          .attr('x1', function() {
                            pos = 50 + 25 * (1 + phon_data[phonemes[i]])
                            return pos.toString()+'%'
                          })
                          .attr('x2', function() {
                            pos = 50 + 25 * (1 + phon_data[phonemes[i]])
                            return pos.toString()+'%'
                          })
                          .attr('y1',  buffer + (pSegment * i))
                          .attr('y2', buffer + (pSegment * (i + 1)))
                          .style('stroke', 'black')
        }
      }
    })
  }
  }

    function sortOrder() {
      var dataURL = '/data'

      d3.json(dataURL, function(error, data){
        var unordered_fdata = data['features']
        var unordered_pdata = data['phonemes']
        var new_fdat = []
        var new_pdat = []
        for (var i = 0; i < features.length; i++) {
          var currFeat = features[i]
          var z_vals = unordered_fdata[currFeat]
          var new_ftuple


          if (document.getElementById('f_psort').checked) {
              new_ftuple = [z_vals[0],  currFeat]

          } else if (document.getElementById('f_asort').checked) {
              new_ftuple = [z_vals[1], currFeat]

          } else {
              new_ftuple = [z_vals[2], currFeat]
          }
          new_fdat.push(new_ftuple)
        }
        for (var i = 0; i < phonemes.length; i++) {
          var currPhon = phonemes[i]
          var z_vals = unordered_pdata[currPhon]
          var new_ptuple


          if (document.getElementById('p_psort').checked) {
              new_ptuple = [z_vals[0],  currPhon]

          } else if (document.getElementById('p_asort').checked) {
              new_ptuple = [z_vals[1], currPhon]

          } else {
              new_ptuple = [z_vals[2], currPhon]
          }
          new_pdat.push(new_ptuple)
        }

        new_fdat.sort(sortFunction);
        new_pdat.sort(sortFunction);

        function sortFunction(a, b) {
            if (a[0] === b[0]) {
                return 0;
            }
            else {
                return (a[0] < b[0]) ? -1 : 1;
            }
        }
        var new_features = []
        var new_phonemes = []
        for (var j = new_fdat.length - 1; j >= 0; j--) {
          new_features.push(new_fdat[j][1])
        }
        for (var j = new_pdat.length - 1; j >= 0; j--) {
          new_phonemes.push(new_pdat[j][1])
        }
        features = new_features
        phonemes = new_phonemes
        onLoad();
      })
    }

  </script>

</html>
