<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>To Speak and Remove All Doubt</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon" />
    <link rel = "stylesheet" type = "text/css" href = "../static/z_score.css">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <style type="text/css">
    body {
        font: 10px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    /*.x.axis path {
        display: none;
    }*/
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    </style>
</head>

<body>
  <style>
    .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  </style>
  <header>
    <h1>
      Better to Remain Silent and Be Thought a Fool
    </h1>
  </header>
    <ul style = "width:20%;">
      <div class = "info">
        <h3>
          A Tool for Comparing Speech Attribute Divergence
        </h3>
          <p>
            What aspects of a character's speech give them their distinctive voice? Are there any common
            features among characters who share an archetype?
          </p>
          <p>
            This visual tool looks at the statistical z-scores for Shakespearean characters. For every feature or phoneme that can be used to characterize speech,
            the mean percentage of occurrence across all characters in all plays is represented by the central vertical line. The distance from this line to the end of a hoizontal bar
            is proportional to how many standard deviations from the mean a given archetypical role's average percentage occurrence of the attribute is.
          </p>
          <p>
            Individual character's comparison values will appear as colored, semi-translucent horizontal bars.
          </p>
          <p>
            Features and phonemes are depicted separately, with separate constraint settings.
          </p>

      </div>
      <div class = "features">
      <div>
        <div class = "tooltip">
          <span class="tooltiptext">
            Display features from most (those with the highest magnitude of deviation from mean) to least distinctive for the chosen role
          </span>
            Sort features by
        </div>
          <form id="fsort", onchange = "sortOrder()"> <br>
            <input id = 'f_psort' type="radio" name="role" value="protag"> Protagonist<br>
            <input id = 'f_asort' type="radio" name="role" value="antag"> Antagonist<br>
            <input id = 'f_fsort' type="radio" name="role" value="fool"> Fool
          </form>
        </div>
        <br><div>
          <div class = "tooltip">
            Show features for
            <span class = "tooltiptext">
              Display or hide any combination of roles
            </span>
          </div>
          <form id = "fshow", onchange = "onLoad()">  <br>
            <input type = "checkbox" value = "protag" checked> Protagonist<br>
            <input type = "checkbox" value = "antag" checked> Antagonist<br>
            <input type = "checkbox" value = "fool" checked> Fool
          </form>
        </div>
        <br><div>
          <div class = "tooltip">
            Compare features<br>
            <span class = "tooltiptext">
              The larger the distance between a character's deviation from mean of a feature and the average deviation for a role, the bluer the resulting comparison bar.
              Conversely, the smaller the distance, the more yellow the bar
            </span>
          </div>
          <select id="fPlay", onchange="onfSelect()">
            <option value="default">Play</option>
            <option value="AWW">All's Well That Ends Well</option>
            <option value="Ant">Antony and Cleopatra</option>
            <option value="AYL">As You Like It</option>
            <option value="Err">The Comedy of Errors</option>
            <option value="Cor">Coriolanus</option>
            <option value="Cym">Cymbeline</option>
            <option value="Ham">Hamlet</option>
            <option value="1H4">Henry IV, Part 1</option>
            <option value="2H4">Henry IV, Part 2</option>
            <option value="H5">Henry V</option>
            <option value="1H6">Henry VI, Part 1</option>
            <option value="2H6">Henry VI, Part 2</option>
            <option value="3H6">Henry VI, Part 3</option>
            <option value="H8">Henry VIII</option>
            <option value="JC">Julius Caesar</option>
            <option value="Jn">King John</option>
            <option value="Lr">King Lear</option>
            <option value="LLL">Love's Labor's Lost</option>
            <option value="Mac">Macbeth</option>
            <option value="MM">Measure for Measure</option>
            <option value="MV">The Merchant of Venice</option>
            <option value="Wiv">The Merry Wives of Windsor</option>
            <option value="MND">A Midsummer Night's Dream</option>
            <option value="Ado">Much Ado About Nothing</option>
            <option value="Oth">Othello</option>
            <option value="Per">Pericles</option>
            <option value="R2">Richard II</option>
            <option value="R3">Richard III</option>
            <option value="Rom">Romeo and Juliet</option>
            <option value="Shr">The Taming of the Shrew</option>
            <option value="Tmp">The Tempest</option>
            <option value="Tim">Timon of Athens</option>
            <option value="Tit">Titus Andronicus</option>
            <option value="Tro">Troilus and Cressida</option>
            <option value="TN">Twelfth Night</option>
            <option value="TGV">The Two Gentlemen of Verona</option>
            <option value="TNK">The Two Noble Kinsmen</option>
            <option value="WT">The Winter's Tale</option>
          </select>

          <select id="fCharacter", onchange ="compare()">
            <option value = "default">Character</option>
          </select>
        </div>
      </div>
        <div class="phonemes">
          <div>
            <div class = "tooltip">
              Sort phonemes by
              <span class = "tooltiptext">
                Display phonemes from most (those with the highest magnitude of deviation from mean) to least distinctive for the chosen role
              </span>
            </div>
            <form id="psort", onchange = "sortOrder()"> <br>
              <input id = 'p_psort' name="role" type="radio"  value="protag"> Protagonist<br>
              <input id = 'p_asort' name="role" type="radio"  value="antag"> Antagonist<br>
              <input id = 'p_fsort' name="role" type="radio"  value="fool"> Fool
            </form>
          </div>

          <br><div>
            <div class = "tooltip">
              Show phonemes for
              <span class = "tooltiptext">
                Display or hide any combination of roles
              </span>
            </div>
            <form id = "pshow", onchange = "onLoad()">  <br>
              <input type = "checkbox" value = "protag" checked> Protagonist<br>
              <input type = "checkbox" value = "antag" checked> Antagonist<br>
              <input type = "checkbox" value = "fool" checked> Fool
            </form>
          </div>
          <br><div>
            <div class = "tooltip">
            Compare phonemes<br>
            <span class = "tooltiptext">
              The larger the distance between a character's deviation from mean of a phoneme and the average deviation for a role, the bluer the resulting comparison bar.
              Conversely, the smaller the distance, the more yellow the bar
            </span>
          </div>
            <select id="pPlay", onchange="onpSelect()">
              <option value="default">Play</option>
              <option value="AWW">All's Well That Ends Well</option>
              <option value="Ant">Antony and Cleopatra</option>
              <option value="AYL">As You Like It</option>
              <option value="Err">The Comedy of Errors</option>
              <option value="Cor">Coriolanus</option>
              <option value="Cym">Cymbeline</option>
              <option value="Ham">Hamlet</option>
              <option value="1H4">Henry IV, Part 1</option>
              <option value="2H4">Henry IV, Part 2</option>
              <option value="H5">Henry V</option>
              <option value="1H6">Henry VI, Part 1</option>
              <option value="2H6">Henry VI, Part 2</option>
              <option value="3H6">Henry VI, Part 3</option>
              <option value="H8">Henry VIII</option>
              <option value="JC">Julius Caesar</option>
              <option value="Jn">King John</option>
              <option value="Lr">King Lear</option>
              <option value="LLL">Love's Labor's Lost</option>
              <option value="Mac">Macbeth</option>
              <option value="MM">Measure for Measure</option>
              <option value="MV">The Merchant of Venice</option>
              <option value="Wiv">The Merry Wives of Windsor</option>
              <option value="MND">A Midsummer Night's Dream</option>
              <option value="Ado">Much Ado About Nothing</option>
              <option value="Oth">Othello</option>
              <option value="Per">Pericles</option>
              <option value="R2">Richard II</option>
              <option value="R3">Richard III</option>
              <option value="Rom">Romeo and Juliet</option>
              <option value="Shr">The Taming of the Shrew</option>
              <option value="Tmp">The Tempest</option>
              <option value="Tim">Timon of Athens</option>
              <option value="Tit">Titus Andronicus</option>
              <option value="Tro">Troilus and Cressida</option>
              <option value="TN">Twelfth Night</option>
              <option value="TGV">The Two Gentlemen of Verona</option>
              <option value="TNK">The Two Noble Kinsmen</option>
              <option value="WT">The Winter's Tale</option>
            </select>

            <select id="pCharacter", onchange ="compare()">
              <option value = "default">Character</option>
            </select>
          </div>
        </div>
    </ul>
  <script type = "text/javascript" src="../static/z_score.js"> </script>

</body>


</html>
